
@{
    ViewBag.Title="Index2";

}
<h1>Index2</h1>

<h1>@ViewBag.Grupo</h1>
<h1>@ViewBag.valor</h1>

<h2>@ViewData["Materia"]</h2>



//el primer parametro es para poner el nombre de la ruta, despues el nombre de la vista, despues el nombre del controlador
//el ultimo parametro es para mandar parametros como un id 
@Html.ActionLink("Mi ruta","Index","Home",null,
    new { dato ="",@class="btn btn-danger"})
