
@{
    ViewBag.Title = "Vista";
}

<h2>Suma de 2 numeros</h2>

<form action="/" method="post">
    <label for="n1">Numero 1</label>
    <input type="text" name="n1" value="" />

    <label for="n2">Numero 2</label>
    <input type="text" name="n2" value="" />

    <input type="submit" name="cal" value="calcular" />

</form>

<h1>@ViewBag.resultado</h1>


